<%- include("partials/header"); -%>



<h1>Contact Us</h1>

<p><%=contactcontent%></p>

<a href="https://www.linkedin.com/in/cezain-majeed-56a64a1a5/">LinkedIn</a>
<br>
<a href="https://github.com/cezainmajeed">GitHub</a>
<br>
<a href="mailto:cezainmajeed0713@gmail.com">Email</a>
<br>
<a href="https://www.instagram.com/cezainmajeed/">Instagram</a>
<br>


<%- include("partials/footer"); -%>
